::root {
    --radius: 230px;
}

.teamCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 0px solid #000;
    border-radius: 50%;
    overflow: visible;
    position: relative;
  }
  
  .teamLogo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .teamLogo:nth-child(1) {
    transform: rotate(0deg) translateX(190px) rotate(-0deg);
  }
  
  .teamLogo:nth-child(2) {
    transform: rotate(12deg) translateX(190px) rotate(-12deg);
  }
  
  .teamLogo:nth-child(3) {
    transform: rotate(24deg) translateX(190px) rotate(-24deg);
  }
  
  .teamLogo:nth-child(4) {
    transform: rotate(36deg) translateX(190px) rotate(-36deg);
  }
  
  .teamLogo:nth-child(5) {
    transform: rotate(48deg) translateX(190px) rotate(-48deg);
  }
  
  .teamLogo:nth-child(6) {
    transform: rotate(60deg) translateX(190px) rotate(-60deg);
  }
  
  .teamLogo:nth-child(7) {
    transform: rotate(72deg) translateX(190px) rotate(-72deg);
  }
  
  .teamLogo:nth-child(8) {
    transform: rotate(84deg) translateX(190px) rotate(-84deg);
  }
  
  .teamLogo:nth-child(9) {
    transform: rotate(96deg) translateX(190px) rotate(-96deg);
  }
  
  .teamLogo:nth-child(10) {
    transform: rotate(108deg) translateX(190px) rotate(-108deg);
  }
  
  .teamLogo:nth-child(11) {
    transform: rotate(120deg) translateX(190px) rotate(-120deg);
  }
  
  .teamLogo:nth-child(12) {
    transform: rotate(132deg) translateX(190px) rotate(-132deg);
  }
  
  .teamLogo:nth-child(13) {
    transform: rotate(144deg) translateX(190px) rotate(-144deg);
  }
  
  .teamLogo:nth-child(14) {
    transform: rotate(156deg) translateX(190px) rotate(-156deg);
  }
  
  .teamLogo:nth-child(15) {
    transform: rotate(168deg) translateX(190px) rotate(-168deg);
  }
  
  .teamLogo:nth-child(16) {
    transform: rotate(180deg) translateX(190px) rotate(-180deg);
  }
  
  .teamLogo:nth-child(17) {
    transform: rotate(192deg) translateX(190px) rotate(-192deg);
  }
  
  .teamLogo:nth-child(18) {
    transform: rotate(204deg) translateX(190px) rotate(-204deg);
  }
  
  .teamLogo:nth-child(19) {
    transform: rotate(216deg) translateX(190px) rotate(-216deg);
  }
  
  .teamLogo:nth-child(20) {
    transform: rotate(228deg) translateX(190px) rotate(-228deg);
  }
  
  .teamLogo:nth-child(21) {
    transform: rotate(240deg) translateX(190px) rotate(-240deg);
  }
  
  .teamLogo:nth-child(22) {
    transform: rotate(252deg) translateX(190px) rotate(-252deg);
  }
  
  .teamLogo:nth-child(23) {
    transform: rotate(264deg) translateX(190px) rotate(-264deg);
  }
  
  .teamLogo:nth-child(24) {
    transform: rotate(276deg) translateX(190px) rotate(-276deg);
  }
  
  .teamLogo:nth-child(25) {
    transform: rotate(288deg) translateX(190px) rotate(-288deg);
  }
  
  .teamLogo:nth-child(26) {
    transform: rotate(300deg) translateX(190px) rotate(-300deg);
  }
  
  .teamLogo:nth-child(27) {
    transform: rotate(312deg) translateX(190px) rotate(-312deg);
  }
  
  .teamLogo:nth-child(28) {
    transform: rotate(324deg) translateX(190px) rotate(-324deg);
  }
  
  .teamLogo:nth-child(29) {
    transform: rotate(336deg) translateX(190px) rotate(-336deg);
  }
  
  .teamLogo:nth-child(30) {
    transform: rotate(348deg) translateX(190px) rotate(-348deg);
  }